#header {
    height: auto!important;
    /*headerHeight*/
    height: 475px;
    min-height: 475px;
    /*headerBGColor*/
    background-color: #ffffff;
    /*headerBGURL*/
    background-image: url(../img/banner.png);
    /*headerBGRepeat*/
    background-repeat: no-repeat;
    /*headerBGPosition*/
    background-position: 0 0;
    border: 1px solid/*headerBorderColor*/
    #191919;
}

#headerContent {
    /*headerTitleTopMargin*/
    padding-top: 400px;
    /*headerTitleColor*/
    color: #ffffff;
    /*headerTitleTextShadowColor*/
    text-shadow: 1px 1px 1px #191919;
    /*headerTitleAlign*/
    text-align: right;
}